<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.margonari.tdp2_frontend">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".activities.CourselandApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".domain.MyFirebaseInstanceIDService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".domain.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- enable the search dialog to send searches to SearchableActivity -->
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".activities.SearchableActivity" />

        <activity android:name=".activities.SearchableActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activities.RestLoginActivity"
            android:label="@string/rest_login_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.RestListCategoriesActivity" />

        <!--
     ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.CoursesActivity"
            android:parentActivityName=".activities.MainActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity"/>
        </activity>

        <activity
            android:name=".activities.CourseChooseActivity"
            android:parentActivityName=".activities.CoursesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.CoursesActivity"/>
        </activity>


        <activity
            android:name=".activities.MyCoursesActivity"
            android:label="@string/title_activity_my_courses"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"/>

        <activity android:name=".activities.CourseInformationActivity" />

        <activity
            android:name=".activities.MyCourseParentActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activities.MyCoursesActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MyCoursesActivity"/>
        </activity>

        <activity
            android:name=".activities.MyCourseUnitActivity"
            android:parentActivityName=".activities.MyCourseParentActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MyCourseParentActivity"/>
        </activity>

        <activity
            android:name=".activities.EvaluationActivity"
            android:parentActivityName=".activities.MyCourseUnitActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MyCourseUnitActivity"/>
        </activity>

        <activity android:name=".activities.VideoViewActivity" />

        <activity
            android:name=".activities.MyCourseForumThreadActivity"
            android:parentActivityName=".activities.MyCourseParentActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MyCourseParentActivity"/>
        </activity>

        <activity
            android:name=".activities.MyCourseForumThreadPostsActivity"
            android:parentActivityName=".activities.MyCourseForumThreadActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MyCourseForumThreadActivity"/>
        </activity>

        <activity
            android:name=".activities.NewTopicActivity"
            android:parentActivityName=".activities.MyCourseForumThreadActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MyCourseForumThreadActivity"/>
        </activity>

    </application>

</manifest>